@media (width < 768px) {
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: rgb(89, 0, 172);
    }
    
    .name {
        color: white;
        font-size: 20px;
        text-align: center;
        background-color: rgb(29, 202, 255);
        margin: auto;
        width: 250px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .backgroundAboutMe {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        margin-top: 20px;
        padding-bottom: 10px;
        margin: 20px;
    }

    .about {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .aboutMeText {
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .githubLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(89, 0, 172);
        box-shadow: 6px 4px black;
        margin: auto;
        width: 50px;
        border-radius: 5px;
    }

    .myProjectsBackground {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        padding-bottom: 40px;
        margin: 20px;
    }

    .myProjects {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .projectBackground {
        background-color: rgb(89, 0, 172);
        margin: auto;
        border-radius: 5px;
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 6px 4px black;
    }

    .project {
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: underline;
    }

    .projectLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        background-color: rgb(29, 202, 255);
        padding: 10px;
        margin: auto;
        width: 170px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .projectDetails {
        color: white;
        text-align: center;
        padding: 10px;
    }
}


@media (width > 768px) and (width < 1024px) {
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: rgb(89, 0, 172);
    }
    
    .name {
        color: white;
        font-size: 20px;
        text-align: center;
        background-color: rgb(29, 202, 255);
        margin: auto;
        width: 250px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .backgroundAboutMe {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        margin-top: 20px;
        padding-bottom: 10px;
        margin: 20px;
    }

    .about {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .aboutMeText {
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .githubLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(89, 0, 172);
        box-shadow: 6px 4px black;
        margin: auto;
        width: 50px;
        border-radius: 5px;
    }

    .myProjectsBackground {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        padding-bottom: 40px;
        margin: 20px;
    }

    .myProjects {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .projectBackground {
        background-color: rgb(89, 0, 172);
        margin: auto;
        border-radius: 5px;
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 6px 4px black;
    }

    .project {
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: underline;
    }

    .projectLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        background-color: rgb(29, 202, 255);
        padding: 10px;
        margin: auto;
        width: 170px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .projectDetails {
        color: white;
        text-align: center;
        padding: 10px;
    }
}





@media (width > 1024px) and (width < 3000px) {
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: rgb(89, 0, 172);
    }
    
    .name {
        color: white;
        font-size: 20px;
        text-align: center;
        background-color: rgb(29, 202, 255);
        margin: auto;
        width: 250px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .backgroundAboutMe {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        margin-top: 20px;
        padding-bottom: 10px;
        margin: 20px;
    }

    .about {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .aboutMeText {
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .githubLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(89, 0, 172);
        margin: auto;
        width: 50px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .myProjectsBackground {
        background-color: rgb(29, 202, 255);
        border-radius: 5px;
        padding-bottom: 40px;
        margin: 20px;
    }

    .myProjects {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        text-decoration: underline;
    }

    .projectBackground {
        background-color: rgb(89, 0, 172);
        margin: 20px;
        border-radius: 5px;
        width: 400px;
        box-shadow: 6px 4px black;
    }

    .project {
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: underline;
    }

    .projectLink {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        background-color: rgb(29, 202, 255);
        padding: 10px;
        margin: auto;
        width: 170px;
        border-radius: 5px;
        box-shadow: 6px 4px black;
    }

    .projectDetails {
        color: white;
        text-align: center;
        padding: 10px;
    }

    .projectOrganize {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
